html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,tr,td,th,input,select,textarea,button{margin: 0; padding: 0;}
ul,li{list-style: none; }
li{float: left;}
a{text-decoration: none!important;cursor: pointer;}
i,label{font-style: normal;}
select{outline:none;}
button,input{outline: none; border: none; background: none;}
html,body{width: 100%; height: 100%; font-family:"Microsoft YaHei" !important; color: #6f6f6f; }

.clearfix:after{content:"";clear:both;display:block;}
